<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<script type="text/javascript">
  fetch("https://floating-springs-34750.herokuapp.com/adminData").then(function(response) {
  return response.json();
}).then(function(data) {
  const pink = data.pink * 100 / 100;
  const yellow = data.yellow * 100 / 100;
  const orange = data.orange * 100 / 100;
  document.getElementById('pink').style.width=`${pink}%`;
  document.getElementById('yellow').style.width=`${yellow}%`;
  document.getElementById('orange').style.width=`${orange}%`;
})
</script>
<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Sport Events</h1>
    <p>Sport Events App</p>
    <iframe src="https://www.google.com/maps/d/embed?mid=1W_8N0xry1DN4jcFIou11gS0OzdZN5Skk" width="640" height="480"></iframe>
  </div>
  <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    Pink area density:
  <div class="w3-border" style="width: 500px;">
    <div id="pink" class="w3-pink" style="height:24px;width:0%"></div>
  </div>
  <hr>
  Yellow area density:
  <div class="w3-border" style="width: 500px;">
    <div id="yellow" class="w3-yellow" style="height:24px;width:0%"></div>
  </div>
  <hr>
  Orange area density:
  <div class="w3-border" style="width: 500px;">
    <div id="orange" class="w3-orange" style="height:24px;width:0%"></div>
  </div>
</div>
</div>
</div>


</body>
</html>
